html,
               .box {
                    width: 40%;
                    border-radius: 5px;
                    border: 1px solid #9b9b9b;
                    padding: 20px 0px 20px 0px;
                    margin-left: 30%;
                }
                .h2{
                    font-family: calibri;
                    font-weight: lighter;
                    letter-spacing: 3px;
                }
                #bil1{
                    padding: 5px;
                }

                #bil2{
                    padding: 5px;
                }
                #hasil{
                    color: black;
                }
                .tbl1{
                    font-family: calibri;
                }
                .btn{
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    border: 0px;
                    color: black;
                    background: #3b7fff;
                }
                body{
                	height: 100%;
                	width: 100%;
                	font-family: 'Sofadi One', cursive;
                    background-color:teal;

                }

                a{
                	text-decoration: none;
                	color: #666;
                }

                #banner{
                	width: 100%;
                	height: 70%;
                	background-attachment: fixed;
                	position: relative;
                }
                	#logo{
                		width: 100%;
                		position: absolute;
                		bottom: 10%;
                		z-index: 5;
                		text-align: center;
                	}
                	#logo img {
                		cursor: pointer;
                		display: inline-block;
                		width: 128px;
                		height: 128px;
                		border: 3px solid rgba(255,255,255,.5);
                		border-radius: 50%;
                	}
                		#logo img:hover{
                			border: 3px solid rgba(255,255,255,.7);
                		}
                	#logo h1{
                		margin: 0 auto;
                		text-align: center;
                		font-family: 'Montez', cursive;
                		font-size: 100px;
                		color: #eee;
                		text-shadow: 1px 1px 1px #000, 1px 2px 3px #555;
                	}